---
import Card from '../components/ui/Card.astro';
import GuestLayout from '../layouts/GuestLayout.astro';
---
<GuestLayout title="Home Page">
	<section class="p-6 grid gap-10 md:grid-cols-2 lg:grid-cols-3">
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
	</section>
</GuestLayout>