<footer class="bg-secondary text-white py-3 px-4">
    <div>
        <img src="/images/logo-alt.png" alt="FullStack.lat" class="w-2/3 mx-auto my-4 md:w-[300px]">
    </div>
    <div class=" border-t-gray">
        <div class="text-center">
            &copy; 2023 - All rights reserved
        </div>
    </div>
</footer>