<header>
    <div class="max-w-[1200px] mx-auto">
        <div class="py-3">
            <img src="/images/logo.png" alt="FullStack.lat" class="w-4/5 mx-auto">
        </div>
        <nav class="bg-primary flex justify-between px-4 py-3">
            <div>
                MENU
            </div>
            <div>
                SEARCH
            </div>
        </nav>
    </div>
</header>