<header>
    <div class="max-w-[1200px] mx-auto">
        <div class="py-5 md:w-[400px] mx-auto">
            <img src="/images/logo.png" alt="FullStack.lat" class="w-4/5 mx-auto">
            <p class="text-gray-600 text-center -mt-2">Artículos de desarrollo en español</p>
        </div>
    </div>
    <nav class="bg-primary p-4">
        <div class="max-w-[1200px] mx-auto text-white flex justify-between">
            <div>
                MENU
            </div>
            <div>
                SEARCH
            </div>
        </div>
    </nav>
</header>